.submit-button {
  left: 40%;
  position: relative;
}

.question {
  font-size: 24pt;
  text-align: center;
  font-family: 'Medula One', cursive;
  font-color: gray;
  background-color: #b6b5bb;
  border: 5px solid black;
  vertical-align: center;
}

.wrap-question {
  border: 5px solid black;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  color: gray;
  font-size: 14pt;
  margin: 0 0;
  padding: 0 0;
  text-justify: auto;
  background-color: black;
}
.subtitle .android {
  color: green;
}
.subtitle .iphone {
  color: white;
}

.fits {
  text-align: center;
  margin: 0 auto;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
}
ul li {
  font-family: 'Wendy One', cursive;
  font-size: 18pt;
  border-radius: 10px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 5px 0px;
  position: relative;
}
ul li .answer {
  color: white;
  text-decoration: none;
  position: relative;
  background-color: white;
}
