@charset "UTF-8";
h1 {
  margin-bottom: 50px;
}

.question {
  font-size: 20px;
  text-align: center;
  font-family: 'Medula One', cursive;
}

.wrap-question {
  border: 5px solid black;
  width: 100%;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0px;
}
ul li {
  font-family: 'Wendy One', cursive;
  font-size: 24pt;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 5px 0px;
  position: relative;
}
ul li .answer {
  color: black;
  text-decoration: none;
  position: relative;
}
ul li:hover:before {
  content: "☞";
  padding-left: 15px;
  color: black;
  display: inline-block;
  float: left;
  position: absolute;
  left: 2px;
}
