<h1>Listing questions</h1>
<div class="wrap-question">
  <% @questions.each do |question| %>
    <div class="question" > <%= question.content %> </div>
      <div class="answer">
        <% question.answers.each do |answer| %>
	      <ul>
	      <li><input type="radio" name=<%= question.id %> ><%= link_to answer.content, "#" %></input>
	      </li>
	      </ul>
        <% end %>
    <% end %>
  </div>
</div>