<h1>Listing questions</h1>
<% @questions.each do |question| %>
  <%= question.content %>

  <% question.answers.each do |answer| %>
    <ul>
      <li><input type="radio"><%= link_to answer.content, "#" %></input
      </li>
    </ul>
  <% end %>
<% end %>
